<div class="profile-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2>Личный кабинет</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h4>{{ profile.username }}</h4>
        <h4>{{ profile.fio }}</h4>
        <h4>{{ profile.email }}</h4>
        <h4>{{ profile.nameRole }}</h4>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <a
          [routerLink]="['/settings']"
          [hidden]="!isUser"
          class="btn btn-sm btn-outline-secondary action-btn"
        >
          <i class="ion-gear-a"></i> Редактировать профиль
        </a>
      </div>
    </div>

    <div class="row">
      <router-outlet> Читательский дневник Рецензии Подборки </router-outlet>
    </div>
  </div>
</div>
