<div class="profile-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2>Личный кабинет</h2>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-auto">
        <p>Логин : {{ profile.username }}</p>
        <p>ФИО : {{ profile.fio }}</p>
        <p>Email : {{ profile.email }}</p>
        <p>Роль : {{ profile.nameRole }}</p>
      </div>
    </div>
    <div class="row">
      <router-outlet>
        
        <button
          type="button"
          class="btn btn  main"
          
          routerLinkActive="active"
        >
          Читательский дневник
        </button>
        <button
          type="button"
          class="btn btn  mx-1 main"
          
          routerLinkActive="active"
        >
        Рецензии
        </button>
        <button
          type="button"
          class="btn btn  main"
          
          routerLinkActive="active"
        >
        Подборки
        </button>
      </router-outlet>
    </div>
  </div>
</div>
