<nav class="navbar navbar-light">
  <div class="container d-flex flex-wrap">
    <a class="navbar-brand" routerLink="/">логотип</a>

    <!-- Show this for logged out users -->

    <ul *appShowAuthed="false" class="nav">
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-light"
          routerLink="/register"
          routerLinkActive="active"
        >
          Зарегистрироваться
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-light"
          routerLink="/login"
          routerLinkActive="active"
        >
          Войти
        </button>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          <img
            [src]="
              currentUser.image ||
              'https://static.productionready.io/images/smiley-cyrus.jpg'
            "
            *ngIf="currentUser.image"
            class="user-pic"
            alt="user image"
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
<header class="py-3 mb-4">
  <div class="container d-flex flex-wrap justify-content-center">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a
          *appShowAuthed="true"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Главная
        </a>
        <a class="nav-link" *appShowAuthed="false" routerLink="/"> Главная </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Жанры</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Подборки</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Рейтинг</a>
      </li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input
        type="search"
        class="form-control"
        placeholder="Поиск..."
        aria-label="Поиск"
      />
    </form>
  </div>
</header>
