<nav class="navbar">
  <div class="my-2 p-0 container d-flex  justify-content-end">

    <!-- Show this for logged out users -->

    <ul *appShowAuthed="false" class="nav">
      <li class="nav-item ">
        <button
          type="button"
          class="btn btn btn-outline-dark mx-1"
          routerLink="/register"
          routerLinkActive="active"
        >
          Зарегистрироваться
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn btn-outline-dark"
          routerLink="/login"
          routerLinkActive="active"
        >
          Войти
        </button>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav">
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-secondary"
          routerLink="/editor"
          routerLinkActive="active"
        >
        <i class="ion-compose"></i>&nbsp;Административная панель
        </button>
      </li>

      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-secondary"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          Личный кабинет
        </button>
      </li>
      <li>
        <button class="btn btn-outline-danger" (click)="logout()">Выйти</button>
      </li>
    </ul>
  </div>

  <div class=" mb-4 container d-flex flex-wrap justify-content-center main rounded py-2">
    <ul class="nav me-auto">
      <li class="nav-item ">
        <a 
          style="color: #ffffff"
          *appShowAuthed="true"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          
        >
          Главная
        </a>
        <a class="nav-link font" *appShowAuthed="false" routerLink="/"> Главная </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2  ">Жанры</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Подборки</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Рейтинг</a>
      </li>
    </ul>

    <form class="col-12 col-lg-auto  mb-lg-0">
      <input
        type="search"
        class="form-control"
        placeholder="Поиск..."
        aria-label="Поиск"
      />
    </form>
  </div>
</nav>
